/* ROOT VARIABLES STUFF ###################################### */
:root{

  /* COLOR STUFF */
  --color-green-dark: #4E6E5D;
  --color-green-light: #82B79B;
  --color-green-alt: #B5BA72;
  --color-green-pale: #EBF2EA;
  --color-green-text: #2d3a33;
  --color-blue-light: #AFCCC1;
  /* TRANSITION STUFF  */
  --transition-all-01: all 0.6s ease-in-out;
  --transition-all-02: all 150ms ease-in-out;
}


/* GENERAL STUFF ###################################### */
h1, h2, h3, h4, h5{
  font-family: 'Rubik', serif;
}
body{
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--color-green-pale);
}

/* link styling  */
a{
  color: var(--color-green-light);
  transition: var(--transition-all-01);
  -webkit-transition: var(--transition-all-01);
}
a:hover{
  color: var(--color-green-alt);
  text-decoration: none;
}

/* h3 sizing including media queries  */
h3{font-size: 1.3em;}
@media(min-width: 450px){h3{font-size: 1.6em;}}
@media(min-width: 599px){h3{font-size: 1.8em;}}
/* end of h3 sizing  */

/* button text sizing including mediq queries */
.btn{font-size: 0.75em;}
@media(min-width: 450px){.btn{font-size: 0.85em;}}
@media(min-width: 599px){.btn{font-size: 0.90em;}}
/* end of button text sizing */

/* paragraph font sizing including media queries  */
p{font-size: 0.75em;}
@media(min-width: 450px){p{font-size:0.85em;}}
@media(min-width: 599px){p{font-size:0.90em;}}
/* end of paragraph sizing  */

.row{
  margin: 0;
  padding: 0;
}

.container-fluid{
  margin: 0;
  padding: 0;
}

.rounded{
  border-radius: 0.15em!important;
}

.content-padding-top{
  padding-top: 40px;
}
.section-box{
  min-height: 100vh;
}

.form-control{
  text-align: center;
}

.note-input-label{
  color: var(--color-green-text);
  font-style: italic;
}

#input-note-length{
  color: var(--danger);
  font-style: italic;
  font-size: 0.6em;
}
/* MENU STUFF ###################################### */

/* base menu configs  */
#menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 40px;
  padding: 0 1vw 0 1vw;
  z-index: 100;
}


/* coloring base links and brand */
#menu a, #menu .navbar-brand, #menu i{
  color: var(--color-green-light);
  /* fx */
  transition: var(--transition-all-01);
  -webkit-transition: var(--transition-all-01);
}

/* coloring menu links hover */
#menu a:hover, #menu i:hover{
  color: var(--color-green-alt);
}

/* LANDING STUFF ###################################### */

#landing h3 > i{
  font-size: 0.8em;
}

/* splash square styling  */
#landing .splash-container{
  background-color: var(--color-green-dark);
  color: var(--color-green-pale);
  padding: 2em;
}

/* LOGIN / REGISTER STUFF ##################################### */

#userauth h3 > i{
  font-size: 0.8em;
}

#userauth .auth-container{
  background-color: var(--color-green-dark);
  color: var(--color-green-pale);
  padding: 2em;
}

.btn-auth{
  min-width: 16.6%;
}

.register-error{
  font-size: 0.6em;
  display: none;
}


/* SIDEBAR HANDLER ####################################### */
.sidebar-title{
  color: var(--color-green-pale);
  font-size: 1.05em;
}

.sidebar-container a{
  color: var(--color-green-pale)!important;
}
.sidebar-container a:hover{
  color: var(--color-green-alt)!important;
}

.sidebar-item-content{
  font-size: 0.7em;
  word-break: keep-all;
  white-space: nowrap;
}

.sidebar-container{
  min-height: 10vh;
  background-color: var(--color-green-dark);
  border-bottom: 3px solid var(--dark);
}
@media(min-width: 576px){
  .sidebar-container{
    max-height: 325px;
    border-radius: 0 0 0.5em 0;
    border-right: 3px solid var(--dark);
  }
  .sidebar-item-content{
    font-size: 0.85em;
  }
}

/* SECTION HEADER HANDLER ##################################### */
#section-header-sm{
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
  z-index: 200;
  height: 40px;
  color: var(--color-green-light);
  font-size: 0.9em;
}

#section-header-xs{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  white-space: nowrap;
  word-break: keep-all;
  height: 40px;
  font-size: 0.7em;
}

/* DASHBOARD VIEW HANDLER ##################################### */
#dashboard{
  background-color: var(--color-green-pale);
}

/* ROOM ACTION HANDLER ##################################### */
#actions{
  /* background-color: red; */
  /* overflow: hidden; */
}

/* .room-container-action-close{
  position: absolute;
  top: 4px;
  right: 10px;
} */

.room-container-action-header h3{
  color: var(--color-green-dark);
  font-size: 1.2em;
}

@media(max-width: 768px){
  #actions{
    border-bottom: 1px var(--color-green-dark) solid;
  }
}

/* ROOM VIEW HANDLE ##################################### */
#room{
  min-height: 100vh;
}

.room-container{
  background-color: var(--color-blue-light);
}

.room-header, .room-type {
  color: var(--color-green-dark);
}

.room-description{
  font-style: italic;
}

.description-bullet{
  font-size: 0.3em;
  vertical-align: middle;
}

.room-type-tracks-icon{
  font-size: 1.2em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.room-display-container{
  min-height: 30vh;
}

.room-display-image-container{
  overflow: hidden;
  border: 2px var(--light) solid;
}

.room-display-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.room-display-info{
  color: var(--color-green-text);
}

.room-tracks-header, .room-logs-header{
  color: var(--color-green-dark);
}

.room-tracks-item{
  color: var(--color-green-text);
}

.room-display-light-potency{
  font-size: 75%;
}

/* room modal handle  */
#modal-grow-delete .modal-content{
  background-color: var(--color-green-light);
  color: var(--color-green-text);
}

#modal-grow-delete .modal-header{
  border-bottom: 1px var(--color-green-dark) solid;
}

/* NOTES HANDLER ########################################## */
.notes-title{
  color: var(--color-green-text);
}

.notes-time{
  position: absolute;
  top: 0.82em;
  left: 1em;
  font-size: 0.8em;
}

.notes-content{
  word-break: break-all;
}

.notes-read-more {
  font-size: 0.7em;
}

.note-delete{
  font-size: 0.7em;
  position: absolute;
  left: -5px;
}

.note-delete-button{
  opacity: 0.65;
  /* fx */
  transition: var(--transition-all-01);
  -webkit-transition: var(--transition-all-01);
}
.note-delete-button:hover{
  opacity: 1;
}

@media(min-width: 576px){
  .note-delete{
    left: -10px!important;
  }
}
/* NOTE:
this selector defines the default PANEL styling for all views. overides should be performed below. */

/* PANEL GRID HANDLER ##################################### */

.panel-container{
  position: relative;
  background-color: var(--color-blue-light);
  height: 35vh;
  opacity: 0.63;
  overflow: hidden;
  /* fx */
  transition: var(--transition-all-02);
}

.panel-container-inner{
  color: var(--color-green-dark);
}

.panel-body-item{
  font-size: 0.85em;
}

.panel-header-content{
  font-size: 0.9em;
}

.panel-button{
  color: var(--color-green-pale);
  -webkit-text-stroke: 2px var(--color-green-light);
  font-size: 5em;
  /* fx */
  transition: var(--transition-all-01);
  -webkit-transition: var(--transition-all-02);
}

.panel-button:hover{
  font-size: 4.93em;
}

/* panel linking handling  */
.panel-link:hover{
  opacity: 1;
}

@media(min-width: 1080px){
  .panel-link:hover{
    transform: scale(1.02);
  }

  .panel-header-content{
    font-size: 1.1em;
  }
}

/* FORMS HANDLING  */
#form-add .mandatory-field{
  vertical-align: text-top;
  font-size: 0.7em;
}

/* BUTTON STYLING ##################################### */
.btn{
  font-size: 0.75em!important;
  padding: 0.12em!important;
}

@media(min-width: 768px){
  .btn{
    font-size: 0.95em!important;
    padding: 0.25em!important;
  }
}

.btn-info{
  background-color: var(--color-green-pale)!important;
  border-color: var(--color-green-pale)!important;
  color: var(--color-green-text)!important;
}
.btn-info:hover{
  background-color: var(--color-green-dark)!important;
  border-color: var(--color-green-dark)!important;
  color: var(--color-green-pale)!important;
}

.btn-outline-info{
  border-color: var(--color-green-pale)!important;
  color: var(--color-green-pale)!important;
}
.btn-outline-info:hover{
  border-color: var(--color-green-pale)!important;
  color: var(--color-green-dark)!important;
  background-color: var(--color-green-pale)!important;
}

.btn-outline-primary{
  border-color: var(--color-green-dark)!important;
  color: var(--color-green-dark)!important;
}
.btn-outline-primary:hover{
  border-color: var(--color-green-dark)!important;
  color: var(--color-green-pale)!important;
  background-color: var(--color-green-dark)!important;
}
/* FOOTER STYLING ###################################### */

footer{
  position: fixed;
  bottom: 0;
  height: 14px;
  width: 100vw;
  background-color: var(--dark);
  font-size: 10px;
  color: var(--color-green-light);
  overflow: hidden;
}
